---
layout: default
---
<div class="container">
  <div class="d-flex vertical-center">
    <div class="col-5">
      <div class="heading-text">
        <h1 class="display-4">Welcome Home</h1>
        <p class="lead">The Homestead Story</p>
      </div>
    </div>
    <div class="col-7 overlap">
      <img src="/images/koushik-chowdavarapu-bHsWi3ttOq4-unsplash-reverse.jpg" class="hero-img img-fluid" alt="Responsive image">
    </div>
  </div>

  <div class="mt-5 pt-5 row">
  {% for post in site.posts %}
    <div class="col-6">
      <div class="card">
        {% if post.image-url %}
        <img class="card-img-top" src="{{ post.image-url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ post.url }}" class="btn btn-primary stretched-link">See More</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

</div>
