<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    
    <div class="container">
        <div class="d-flex vertical-center">
            <div class="col-5">
            <div class="heading-text">
                <h1 class="display-4">{{ page.title }}</h1>
            </div>
            </div>
            <div class="col-7 overlap">
            <img src="{{ page.image-url }}" class="hero-img img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="mt-5 pt-5 pl-5">
            {{ page.excerpt }}

            <a href="/">Return Home</a>
        </div>

        

    </div>

    {% include footer.html %}
  </body>
</html>
